{{!-- this is the actual list of all people enrolled in a course --}}
{{>header}}
    {{#if success}}
    <div>
        {{{success}}}
    </div>
    {{/if}}
    <div>
        <h3>Inscritos en el curso de {{{course.name}}} con id {{{course.id}}}</h3>
    <table class="table">
        <thead>
            <th>course id</th>
            <th>Número de Documento</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Opción</th>
        </thead>
        {{#each list}}
        <tbody>
            <tr>
                <td>{{this.document}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td><a href="/remove_person/{{{course.id}}}/{{this.document}}" role="button">Eliminar del curso</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="back-button">
    <button class="btn"><a href="/signed_people"><span>Volver</span></a></button>
</div>
{{>footer}}