{{>header}}
{{#if failed}}
<div class="failed">
  {{{failed}}}
</div>
{{/if}}
<div>
  <div>
    <h4>Detalles del Curso: {{list.name}}</h4>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{list.id}}</td>
      </tr>
      <tr>
        <td>Nombre</td>
        <td>{{list.name}}</td>
      </tr>
      <tr>
        <td>Modalidad</td>
        <td>{{list.modality}}</td>
      </tr>
      <tr>
        <td>Intensidad Horaria</td>
        <td>{{list.workload}}</td>
      </tr>
      <tr>
        <td>Estado</td>
        <td>{{list.status}}</td>
      </tr>
      <tr>
        <td>Descripción</td>
        <td>{{list.description}}</td>
      </tr>
      <tr>
        <td>Costo</td>
        <td>{{list.cost}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form">
  <h3>Inscripción</h3>
</div>
<div>
  <form action="/store_student" method="post">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="name">Id del Curso</label>
        <input type="text" class="form-control" id="course_id" name="course_id" value={{list.id}} readonly="readonly" />
      </div>
      <div class="form-group col-md-10">
        <label for="name">Nombre</label>
        <input type="text" class="form-group" id="name" name="name" required placeholder="Nombres y Apellidos">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="document">Documento</label>
        <input type="number" class="form-control" id="document" name="document" required
          placeholder="Número de Documento">
      </div>
      <div class="form-group col-md-6">
        <label for="phone">Teléfono</label>
        <input type="number" class="form-control" id="phone" name="phone" required placeholder="Número de teléfono">
      </div>
    </div>
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" class="form-control" id="email" name="email" required placeholder="Correo">
    </div>

    <div>
      <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
    </div>
  </form>
</div>
<div class="back-button">
  <button class="btn"><a href="/available_courses"><span>Volver</span></a></button>
</div>

{{>footer}}