
{{>header}}
{{#if failed}}
<div class="failed">
    {{{failed}}}
</div>
{{/if}}
<div>
  <div>
    <h4>Detalles del Curso: {{list.name}}</h4>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{list.id}}</td>
      </tr>
      <tr>
        <td>Nombre</td>
        <td>{{list.name}}</td>
      </tr>
      <tr>
        <td>Modalidad</td>
        <td>{{list.modality}}</td>
      </tr>
      <tr>
        <td>Intensidad Horaria</td>
        <td>{{list.workload}}</td>
      </tr>
      <tr>
        <td>Estado</td>
        <td>{{list.status}}</td>
      </tr>
      <tr>
        <td>Descripción</td>
        <td>{{list.description}}</td>
      </tr>
      <tr>
        <td>Costo</td>
        <td>{{list.cost}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form">
  <h3>Inscripción</h3>
</div>
<div>
    <form action="/store_student" method="post">
    <div class="getidcourse">
      <input type="text" id="course_id" name="course_id" value={{list.id}} readonly="readonly" /> 
    </div>
        <div>
            <label for="document">Documento</label>
            <input type="number" id="document" name="document" required placeholder="Número de Documento...">
        </div>
        <div>
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required placeholder="Nombres y Apellidos...">
        </div>
        <div>
            <label for="email">Correo electrónico</label>
            <input type="text" id="email" name="email" required placeholder="Correo...">
        </div>
        <div>
            <label for="phone">Teléfono</label>
            <input type="number" id="phone" name="phone" required placeholder="Número de teléfono..">
        </div>
        <div>
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
<div class="back-button"></div>
    <button><a href="/available_courses"><span>Volver</span></a></button>
</div>

{{>footer}}
